.card {
  @apply relative w-[18.75rem] rounded-xl border border-[#f0f0f0] bg-white shadow-md transition-transform duration-300;
  &:hover {
    @apply scale-[1.03] cursor-pointer shadow-lg;
  }
}

.note {
  @apply absolute top-5 rounded-r-md bg-red px-3 py-1 font-inter text-white;
  left: -1px;
}

.imageWrapper {
  @apply h-[18.75rem] border-b border-[#f0f0f0];
}

.image {
  @apply block h-full w-full  rounded-t-xl object-cover;
}

.info {
  padding: 1.25rem;
}

.title {
  @apply mb-3 text-lg font-semibold;
}

.description {
  @apply mb-3 line-clamp-1;
}

.bottom {
  @apply mt-auto flex items-center justify-between gap-3;
}

.price {
  @apply text-lg font-semibold text-primary;
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .image {
    object-fit: contain;
  }
  .info {
    padding: 0.75rem;
  }
}
