.card {
  @apply relative w-[18.75rem] rounded-xl border border-gray bg-white shadow-md transition-transform duration-300;
  &:hover {
    @apply scale-[1.03] cursor-pointer shadow-lg;
  }
}

.note {
  @apply absolute top-5 rounded-r-md bg-red px-4 py-1 font-inter text-white;
  left: -1px;
}

.imageWrapper {
  @apply h-[18.75rem] border-b border-gray;
}

.image {
  @apply block h-full w-full  rounded-t-xl object-contain;
}

.info {
  @apply p-5;
}

.title {
  @apply mb-2 text-lg font-semibold;
}

.description {
  @apply mb-2 line-clamp-1;
}

.bottom {
  @apply mt-auto flex items-center justify-between gap-3;
}

.price {
  @apply text-lg font-semibold text-primary;
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .info {
    padding: 0.75rem;
  }
}
