.accountInfo {
  @apply rounded-lg bg-white p-5 shadow-lg;
}

.list {
  margin-bottom: 0.75rem;
}

.item {
  @apply text-xl;
  & span {
    font-weight: 700;
  }
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.signOut {
  @apply cursor-pointer rounded-md bg-primary-light p-3 text-center text-white transition-colors hover:bg-primary active:bg-primary-dark;
}
